* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("webimages/backgroundlogo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.login-box {
  width: 450px;
  height: 500px;
  padding: 40px;
  background: dodgerblue;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
}

.logo-container {
  margin-top: -15px;
  margin-bottom: -50px;
}

.logo-container img {
  width: 300px;
  height: 100px;
}

.login-box h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  color: black;
}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.user-box input {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: white;
  transition: 0.3s;
}

.user-box input:focus + label,
.user-box input:valid + label {
  top: -12px;
  font-size: 18px;
  color: black;
}

button {
  width: 100%;
  padding: 12px;
  background: #d8b2ff;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: mediumpurple;
}

.extras {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.extras a {
  color: #3498db;
  text-decoration: none;
}

.extras a:hover {
  text-decoration: underline;
}

.extras label input {
  margin-right: 5px;
}
