* { margin:0; padding:0; box-sizing:border-box; font-family: 'Segoe UI', sans-serif; }
body { background:#f4edff; color:#333; }

/* Header */
header { display:flex; align-items:center; padding:0 30px; background: white; border-bottom:1px solid #ddd; }
.logo img { height:60px; margin-right:30px; }
/* .search-container input {
  width:300px; padding:10px; font-size:16px;
  border:2px solid #4d7cfe; border-radius:30px; text-align:center; margin-right:auto;
} */
.main-nav {
  display: flex;
  flex: 1;
}
.main-nav a {
  padding: 0 20px;
  line-height: 60px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.main-nav a:hover,
.main-nav a.active {
  background: #ddd;
}

/* Profile Container */
.profile-container { display:flex; margin-top:30px; }

/* Sidebar */
.left-sidebar { width:220px; padding:20px; }
.left-sidebar button.active {
  display:block; width:100%; padding:10px;
  background: dodgerblue; color:#fff; border:none; border-radius:12px; margin-bottom:20px;
}
.left-sidebar ul { list-style:none; margin:20px 0; }
.left-sidebar li { margin-bottom:12px; }
.left-sidebar li a { text-decoration:none; color: dodgerblue; font-size:16px; }
.left-sidebar li :hover{ text-decoration: underline;color: black; }
.left-sidebar .delete { color:red; font-weight:bold; margin-top:20px; display:block; }

/* Main Profile Section */
.profile-main {
  flex:1; background:#efe5ff; padding:30px; border-radius:10px; margin-left:20px;
}
.profile-header {
  display:flex; align-items:center; justify-content:space-between; margin-bottom:30px;
}
.avatar {
  width:100px; height:100px;
  background:#fff center/cover no-repeat;
  border:2px solid #ccc; border-radius:50%;
}
.userinfo { flex:1; margin-left:20px; }
.userinfo h2 { color:#2b61da; font-size:24px; }
.userinfo p { color:#9063e1; font-size:18px; }
.edit-profile { color:#8c5edf; text-decoration:none; font-size:16px; }

/* Personal Info Form */
.personal-info h3 {
  background:#a288e3; color:white; padding:10px 20px;
  border-radius:8px; display:inline-block; margin-bottom:20px;
}
form .row { display:flex; gap:15px; margin-bottom:15px; }
form input {
  flex:1; padding:12px; font-size:14px;
  background:#f8f4ff; border:none; border-bottom:2px solid #c5a9f9; border-radius:8px;
}
input[readonly] {
  background: mediumpurple;
  border: 1px solid #ccc;
  color: white;
}


.add-niche button {
  width:40px; font-size:20px;
  background:none; border:2px solid #c5a9f9;
  color:#7e3ff2; border-radius:50%; cursor:pointer;
}
textarea{
  width: 200px;height: 50;font-size:small;margin-left: 5px; background-color: mediumpurple;color: white;
}
