<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up - LearnArc</title>
  <link rel="stylesheet" href="../static/css/signup.css"/>
</head>
<body>
  <div class="form-box">
    <div class="logo-container">
      <img src="../static/webimages/learnarc.jpg" alt="LearnArc Logo" />
    </div>
    <h2>Create Account</h2>
    <form id="signupForm" action="/signUp" method="post" enctype="multipart/form-data">

       <div class="input-group">
        <label for="Name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div class="input-group">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" min="13" max="120" required />
      </div>

      <div class="input-group">
        <label for="profilepicture">Profile Picture</label>
        <input type="file" id="profilepicture" name="profilepicture" accept="image/*" required />
      </div>

      <button type="submit" class="btn">Sign Up</button>
    </form>
  </div>

  <script src="script.js"></script>
</body>
</html>
